[Unit]
Description=File Browser
After=network.target

[Service]
ExecStart=/usr/local/bin/filebrowser -r /home/pi --port 9090
User=root
Group=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
