[Unit]
Description=File Browser
After=network.target

[Service]
ExecStart=/usr/local/bin/filebrowser -r /home/pi
User=pi
Group=pi
Restart=on-failure

[Install]
WantedBy=multi-user.target
